/*Applies to the universal selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Applies to the body semantic element*/
body {
    background-color: #d9dcd6;
}

/*Applies to the header class of elements*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Applies to the h1 element within the header parent class*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Applies to the seo class within the header parent class*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Applies to the child elements of the header parent class*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Applies to the unordered list element under the header parent class */
.header div ul {
    list-style-type: none;
}

/*Applies to the list items in the unordered list under the header parent class */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Applies to the anchor element*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Applies to the paragraph element*/
p {
    font-size: 16px;
}

/*Applies to the hero class*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Applies to the content class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Applies to the info class*/
.info {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Applies to the image elements under the info class*/
.info img {
    max-height: 200px;
}

/*Applies to the h2 element under the info class*/
.info h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Applies to the float-left class*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Applies to the float-right class*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Applies to the benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Applies to the benefit class*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Applies to the h3 element under the benefit class*/
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Applies to the image elements under the benefit class*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Applies to the footer class*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Applies to the h4 element under the footer class*/
.footer h4 {
    font-size: 20px;
}